doctype html
html(lang="en")
    head
        title= pageTitle
        link(href='/dist/css/style.min.css', rel='stylesheet')
        link(href='/dist/css/bach-editor.min.css', rel='stylesheet')
        script(src='/dist/js/all.min.js')
        script(src='/dist/js/bach-editor.min.js')
    body
        div.flash
            = flash.error
            = flash.success
        header.head
            div.container
                div.head-logo
                    a(href="#") R-Blog
                nav.head-nav
                    ul
                        li.active
                            a(href='#') HOME
                        li
                            a(href='#') TECH
                        li
                            a(href='#') LIFE
                        li
                            a(href='#') ABOUT

        div.admin-post.container
            form(method='POST', action='/admin/post')
                input(name='title', class='title', placeholder='标题')
                div.tag-list
                    input(name='tag', type='text', class='tag', placeholder='标签')
                    input(name='tag', type='text', class='tag', placeholder='标签')
                    input(name='tag', type='text', class='tag', placeholder='标签')
                input(name='class', type='text', class='class', placeholder='分类')
                input(name='url', type='text', class='url', placeholder='自定义网址')
                div.editor
                    textarea(id='myEditor' name='content')
                button(type='submit') 发表文章
        footer.foot
            div.container
                div.friend
                    h4 友情链接
                    ul
                        li
                            a(href='#') 链接一
                        li
                            a(href='#') 链接一
                        li
                            a(href='#') 链接一
                        li
                            a(href='#') 链接一
                div.copyright
                    h4 版权申明
                    p Powered By R-Blog, based on koa.js
                    p Copyright @ 2015