.post {
  margin: 80px auto;
  .post-list {
    margin: 100px auto;
    overflow: hidden;
  }
  .bold {
    font-weight:bold;
  }
  .title h3{
    font-weight: bold;
    font-size:40px;
  }
  .data {
    float: right;
    margin-left:20px;
  }
  .tag {
    float: right;
    margin-left:20px;
  }
  .class {
    float: right;
    margin-left:20px;
  }
}
.post-content {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 60px auto;
  padding:0 20px;
  color: #333;
  h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
    font-weight: bold;
  }
  h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
  }
  p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  pre {
    margin-bottom: 16px;
    padding: 16px;
    overflow: hidden;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
  }
}