.wrap {
  width:100%;
  height:600px;
  background-color: #38B982;
  text-align: center;
  .intro {
    padding-top: 200px;
    h1 {
      margin:20px;
      font-size: 60px;
    }
    .desc {
      font-weight: 500;
      padding: 20px;
    }
  }
  .tag-list, .class-data{
    span {
      margin: 0 5px
    }
  }
  .tag-list {
    margin:80px auto 40px;
  }
}